<span class="ds-tab__content">
  @if (icon()) {
    <span class="ds-tab__icon">
      <ng-content select="[slot=icon]" />
      <ng-content select="[slot=icon-left]" />
    </span>
  }
  <span class="ds-tab__label"><ng-content /></span>
  @if (counter() !== null) {
    <span class="ds-tab__counter" aria-label="counter">{{ counter() }}</span>
  }
  @if (chevron()) {
    <span class="ds-tab__chevron">
      <ds-icon name="chevron-down" [size]="16" />
    </span>
  }
  <ng-content select="[slot=badge]" />
</span>
<span class="ds-tab__indicator" aria-hidden="true"></span>
