<div class="ds-side-nav__items" role="menu">
  <ng-content />
</div>
<div class="ds-side-nav__bottom">
  <button
    type="button"
    class="ds-side-nav__toggle"
    [attr.aria-expanded]="!collapsed()"
    [attr.aria-label]="collapsed() ? 'Open panel' : 'Close panel'"
    (click)="toggle()"
  >
    <span class="ds-side-nav__toggle-icon">
      <ds-icon name="panel-left" [size]="20" />
    </span>
    <span class="ds-side-nav__toggle-label">{{ collapsed() ? 'Open panel' : 'Close panel' }}</span>
  </button>
</div>
