<div class="ds-search-bar-multi__content">
  <div class="ds-search-bar-multi__slot ds-search-bar-multi__type">
    <ds-standalone-dropdown
      [icon]="meta().icon"
      [label]="meta().label"
      (clicked)="toggle('type')"
    />
    @if (openFlyout() === 'type') {
      <div class="ds-search-bar-multi__flyout">
        <ds-flyout-menu>
          @for (t of searchTypes; track t.id) {
            <ds-flyout-menu-item [label]="t.label" [icon]="t.icon" (clicked)="pickType(t.id)" />
          }
        </ds-flyout-menu>
      </div>
    }
  </div>
  <ds-divider class="ds-search-bar-multi__divider" orientation="vertical" />

  <div class="ds-search-bar-multi__slot ds-search-bar-multi__country">
    @if (country(); as c) {
      <ds-standalone-dropdown
        [icon]="null"
        [label]="countryLabel()"
        [disabled]="!countryEnabled()"
        (clicked)="toggle('country')"
      >
        <ds-flag slot="icon" [code]="c" />
      </ds-standalone-dropdown>
    } @else {
      <ds-standalone-dropdown
        icon="globe"
        [label]="countryLabel()"
        [disabled]="!countryEnabled()"
        (clicked)="toggle('country')"
      />
    }
    @if (openFlyout() === 'country') {
      <div class="ds-search-bar-multi__flyout">
        <ds-flyout-menu>
          @for (c of countries; track c.code) {
            <ds-flyout-menu-item [label]="c.label" (clicked)="pickCountry(c.code)">
              <ds-flag slot="icon" [code]="c.code" />
            </ds-flyout-menu-item>
          }
        </ds-flyout-menu>
      </div>
    }
  </div>
  <ds-divider class="ds-search-bar-multi__divider" orientation="vertical" />

  <div class="ds-search-bar-multi__slot ds-search-bar-multi__id-type">
    <ds-standalone-dropdown
      icon="hash"
      [label]="idTypeLabel()"
      [disabled]="!idTypeEnabled()"
      (clicked)="toggle('id-type')"
    />
    @if (openFlyout() === 'id-type') {
      <div class="ds-search-bar-multi__flyout">
        <ds-flyout-menu>
          @for (it of idTypes; track it) {
            <ds-flyout-menu-item [label]="it" (clicked)="pickIdType(it)" />
          }
        </ds-flyout-menu>
      </div>
    }
  </div>
  <ds-divider class="ds-search-bar-multi__divider" orientation="vertical" />

  <div
    class="ds-search-bar-multi__field"
    [class.ds-search-bar-multi__field--disabled]="inputDisabled()"
  >
    <ds-icon name="search" [size]="24" class="ds-search-bar-multi__field-icon" />
    @if (phonePrefix(); as p) {
      <span class="ds-search-bar-multi__phone-prefix">{{ p }}</span>
    }
    <input
      type="text"
      class="ds-search-bar-multi__input"
      [placeholder]="meta().placeholder"
      [value]="query()"
      [attr.disabled]="inputDisabled() ? '' : null"
      (input)="onInput($event)"
      (keydown.enter)="searchClicked.emit()"
    />
    @if (query() && !inputDisabled()) {
      <ds-button-icon
        class="ds-search-bar-multi__clear"
        type="plain"
        size="s"
        ariaLabel="Clear"
        (clicked)="clearQuery()"
      >
        <ds-icon name="close" [size]="16" />
      </ds-button-icon>
    }
  </div>
  <ds-divider class="ds-search-bar-multi__divider" orientation="vertical" />

  <ds-button type="tertiary" tone="accent" (clicked)="moreCriteriaClicked.emit()">
    <ds-icon slot="icon-left" name="sliders" [size]="16" />
    More criteria ({{ criteriaCount() }})
  </ds-button>
  <ds-button type="primary" (clicked)="searchClicked.emit()">Search</ds-button>
</div>
