@for (opt of options(); track opt.value; let i = $index) {
  <button
    [class]="itemClasses(opt, i)"
    type="button"
    role="tab"
    [attr.aria-selected]="isSelected(opt.value)"
    [attr.aria-disabled]="(opt.disabled || disabled()) || null"
    [disabled]="opt.disabled || disabled() || null"
    [tabindex]="(opt.disabled || disabled()) ? -1 : 0"
    (click)="onSelect(opt)"
  >
    @if (opt.icon && opt.iconPos !== 'right') {
      <ds-icon [name]="opt.icon" [size]="16" />
    }
    <span class="ds-segmented-control__label">{{ opt.label }}</span>
    @if (opt.icon && opt.iconPos === 'right') {
      <ds-icon [name]="opt.icon" [size]="16" />
    }
  </button>
}
