:host {
  display: block;
}

.ut-table-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--semantic-measurement-spacing-m);
  padding: var(--semantic-measurement-spacing-s) 0;
  border-bottom: 1px solid var(--semantic-color-static-border-subtle-tertiary);
}

.ut-table-toolbar__actions {
  display: inline-flex;
  align-items: center;
  gap: var(--semantic-measurement-spacing-s);
}
